/***** HEADER *****/

h1, h2 {
    margin: 0;
}

.new-post-title {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}

.new-post-desc {
    font-weight: normal;
    padding: 10px 0px 0px 0px;
}

/***** MAIN CONTENT *****/

form > * {
    display: block;
    margin-top: 16px;
    font-size: 18px;
}

#form-post-title, #form-post-description, #form-post-content {
    border: 1px solid #ced4da;
    padding: 8px;
    border-radius: 5px;
    color: #495057;    
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#form-post-content {
    min-height: 300px;
}

#form-post-submit {
    background-color: #0b60af;
    border-color: #004186;
    color: white;
    padding: .375rem .75rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#form-post-submit:hover {
    background-color: #002349;
}




