/* ADD styling for all of the divs in post.html to match  */

.navigation a {
    text-decoration: none;
    color: #0b60af;
    padding: 5px 8px;
    border: 1px solid #0b60af;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #0b60af;
    color: #fff;
}

#individual-post-title {
    font-size: 2em;
    text-align: center;
    padding: 24px 0px;
}

#individual-post-date {
    color: #adb5bd;
    text-align: right;
    padding: 24px 0px 0px;
}

#individual-post-description {
    color: #adb5bd;
    line-height: 1.2;
    border: 1px #adb5bd;
    border-style: solid none;
    padding: 24px 48px;
}

#individual-post-content {
    line-height: 1.4;
    padding: 24px 0px;
}