/* ADD styling for all of the divs in post.html to match  */

#individual-post-title {
    font-size: 2em;
    text-align: center;
    padding: 24px 0px;
}

#individual-post-date {
    color: #adb5bd;
    text-align: right;
    padding: 24px 0px 0px;
}

#individual-post-description {
    color: #adb5bd;
    line-height: 1.2;
    border: 1px #adb5bd;
    border-style: solid none;
    padding: 24px 48px;
}

#individual-post-content {
    line-height: 1.4;
    padding: 24px 0px;
}