/***** BASE STYLES *****/

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/***** HEADER *****/

header {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    min-height: 150px;
    background-position: center;
}

.default-header {
    background-color: #0084ff;
}

.profile-image {    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(/assets/avatar.jpg);
    background-size: cover;
    background-position: center;
}

.profile-name {
    font-size: 3em;
    font-weight: bold;
}

.subtext {
    margin-top: 8px;
}

/***** MAIN CONTENT *****/

main {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.content-wrapper {
    max-width: 750px;
    min-width: 600px;
    padding: 0px 16px;
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: #0b60af;
    padding: 5px 8px;
    border: 1px solid #0b60af;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #0b60af;
    color: #fff;
}

.post {
    display: flex;
    border:  1px solid #eaecee;
    border-radius: 8px;
    min-height: 200px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 25px 0px;
}

.post:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.post-image {
    flex-basis: 40%;
    background-size: cover;
    background-position: center;
}

.post-content {
    flex-basis: 60%;
    padding: 24px;
}

.post-date {
    color: #adb5bd;
    font-size: 0.75em;
    font-weight: 600;
}

.post-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 10px;
}

.post-title h4 {
    margin: 0;
}

.post-description {
    color: #495057;
    font-weight: 400;
    margin-top: 5px;
    line-height: 1.4;
}

.post-link {
    text-decoration: none;
}

.nav-button, .new-post-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0b60af;
    color: #fff;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.nav-button.new-post-button:hover {
    transform: translate3d(0, -5px, 0);
}

/***** FOOTER *****/

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 0.875em;
}